body {
    background-color: rgb(252, 212, 159);
    min-height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none;
    
}

.content {
    text-align: center;

}

.header {
    background-color: black;
    color: white;
    width: 100%;
    padding: 10px;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 10px;
    color: white;
    font-size: 20px;
}

.column-header {
    color: black;
    font-size: 28px;
}

.button {
    color: black;
    background-color: lightblue;
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 18px;
    margin: 30px;
    
}

.button:hover {
    color: white;
    background-color: blue;

}

.flex-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    
}

.flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }

@media (max-width: 800px) {
    .flex-container {
    flex-direction: column;
    }
}
